<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humber-Zon | ({{title}})</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="Humber-Zon.ca, Online Shopping, Electronics, Health, Beauty, Watches, Home & Garden, Tools, Video Games, Baby, Kindle, Books, Music, Movies, DVDs, Materials, Speedy Delivery">
    <meta name="description" content="Shopping with Humber-Zon is complete fun. Why not join the 5 million others that have taken advantage of such rich experience">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Humber-Zon">
    <meta name="classification" content="internet">
    <meta name="distribution" content="global"> 

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/flaticon.css">
    <script defer src="https://use.fontawesome.com/f91f1a6630.js"></script>
    <script defer type="text/javascript" src="/js/script.js"></script>
</head>
<body>
    
{{!--         <header>
            <h1>Select Your New </h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productListing">Product Listing</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ipsam cumque provident eaque a, tenetur, nulla doloribus quisquam laborum facere distinctio optio reiciendis sequi quo ex incidunt vel consequuntur inventore.
            </p>
        </footer> --}}
    
    <div class="page">

        <header class="page-header">
            <!-- Header Start -->
            <div class="header-area">

                <!-- Logo -->
                <div class="logo">
                    <a href="/"><img src="/img/humber-zon-sm.png" alt=""></a>
                </div>

                <!-- Main-menu -->
                <nav class="main-menu">

                    <ul id="navigation" class="main-menu-nav">  

                        <li><a href="/productListing">Shop</a></li>
                        <li><a href="#best-sellers">Best Sellers</a></li>
                        <li class=""><a href="#">Latest</a>
                            <ul class="submenu">
                                <li><a href="/">Product list</a></li>
                                <li><a href="/"> Product Details</a></li>
                            </ul>
                        </li>                       

                        <li class="categories-first"><a href="/">Computers</a></li>
                        <li class="categories"><a href="/">Electronics</a></li>
                        <li class="categories-last"><a href="/">Books</a></li>

                        <li><a href="/">Your Store</a></li>

                        <li><a href="/">Sell</a></li>
                        <li><a href="/">Make Purchase</a></li>
                        <li><a href="/">Registry</a></li>

                        <li><a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="/">Login</a></li>
                                <li><a href="/">Cart</a></li>
                                <li><a href="/">Element</a></li>
                                <li><a href="/">Confirmation</a></li>
                                <li><a href="/">Product Checkout</a></li>
                            </ul>
                        </li>
                        <li><a href="/">Contact</a></li>
                    </ul>

                    <ul class="user-related-links">
                        <li class="nav-search">
                            <span class="fa fa-search"></span>
                        </li>
                        <li> <a id="login-create-account" href="/login"><span class="fa fa-user"></span></a></li>
                        <li><a href="/cart"><span class="fa fa-shopping-cart"></span></a></li>
                    </ul>

                </nav>

            </div>

        </header>

        <main>

            {{{body}}}

            <section id="user-acct" class="user-acct">

                <span id="login-close" class="fa fa-close login-close"></span>

                <div class="page-form">

                    <section class="create-account">
                        <div class="create-account-inner">
                            <h2>New to Humber-Zon?</h2>
                            <p>We are the kings of merchandise. We sell an array of quality products, and we also buy as well. Registering with us means so much to us and is a necessary step for trust and commitment. </p>
                            <a id="create-account-btn" href="#" class="cta-btn">Create an Account</a>
                        </div>
                    </section>
                            
                    <section class="login">
                        <div class="login-form-inner">
                            <h2>Welcome Back ! <br> Please Sign in now</h2>

                            <form class="contact-form" action="#" method="post" novalidate="novalidate">

                                <div class="form-input">
                                    <input type="text" class="form-control" id="name" name="name" value=""
                                        placeholder="Username">
                                </div>
                                <div class="form-input">
                                    <input type="password" class="password" id="password" name="password" value=""
                                        placeholder="Password">
                                </div>
                                <div class="form-input-final">
                                    <div class="create-account-action">
                                        <input type="checkbox" id="remember-me" name="remember-me">
                                        <label for="remember-me">Remember me</label>
                                    </div>
                                    <button class="login-btn cta-btn" type="submit" value="submit" class="submit">
                                        log in
                                    </button>
                                    <a class="lost-password" href="#">forget password?</a>
                                </div>

                            </form>                            
                        </div>
                    </section>
                    
                </div>

            </section>

            <section id="create-account-modal" class="create-account-modal">

                <span id="account-close" class="fa fa-close account-close"></span>

                <section class="">

                    <div class="account-form-inner">
                        <h2>Create Your Account with Us</h2>

                        <form class="contact-form" action="#" method="post" novalidate="novalidate">

                            <div class="form-input">
                                <input type="text" class="form-control" id="first-name" name="first-name" value=""
                                    placeholder="First Name...">
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-control" id="last-name" name="last-name" value=""
                                    placeholder="Last Name...">
                            </div>
                            <div class="form-input">
                                <input type="email" class="form-control" id="email" name="email" value=""
                                    placeholder="Email Address...">
                            </div>
                            <div class="form-input">
                                <input type="password" class="account-password" id="account-password" name="account-password" value=""
                                    placeholder="Password...">
                            </div>
                            <div class="form-input-final">
                                <button class="login-btn cta-btn" type="submit" value="submit" class="submit">
                                    log in
                                </button>
                            </div>

                        </form>                            
                    </div>
                </section>

            </section>

        </main>

        <footer id="page-footer" class="page-footer" role="contentinfo">

            <div class="primary-footer-group">

                <section class="primary-footer">
                    <h4 class="footer-header">Humber-Zon Cares</h4>
                    <ul class="footer-links">
                        <li><a href="/">Careers</a></li>                
                        <li><a href="/">Press Releases</a></li>
                        <li><a href="/">Investor Relations</a></li>
                    </ul>
                </section>
                                          
                <section class="primary-footer">
                    <h4 class="footer-header">Make Money with Us</h4>
                    <ul class="footer-links">
                        <li><a href="/">Sell on Humber-Zon</a></li>                
                        <li><a href="/">Press Releases</a></li>
                        <li><a href="/">Make Advertisements</a></li>
                        <li><a href="/">Independently Publish with Us</a></li>
                        <li><a href="/">Make Advertisements</a></li>
                    </ul>
                </section>
                              
                <section class="primary-footer">
                    <h4 class="footer-header">Humber-Zon Payment Products</h4>
                    <ul class="footer-links">
                        <li><a href="/">Humber-Zon.ca MasterCard</a></li>                
                        <li><a href="/">Points Shopping</a></li>
                        <li><a href="/">Reload Your Balance</a></li>
                        <li><a href="/">Gift Cards</a></li>
                        <li><a href="/">Humber-Zon Cash</a></li>
                    </ul>
                </section>

                <section class="primary-footer">
                    <h4 class="footer-header">We Care</h4>
                    <ul class="footer-links">
                        <li><a href="/">COVID-19 and Humber-Zon</a></li>                
                        <li><a href="/">Shipping Rates &amp; Policies</a></li>
                        <li><a href="/">Returns Are Easy</a></li>
                        <li><a href="/">Gift Cards</a></li>
                        <li><a href="/">Customer Service</a></li>
                        <li><a href="/">Manage your Content &amp; Devices</a></li>
                    </ul>
                </section>

            </div>

            <section class="sec-footer">
                <section>
                    <ul>
                        <li><a href="/">Conditions of Use</a></li>
                        <li><a href="/">Privacy Of Use</a></li>
                        <li><a href="/">Interest-Based Ads</i></a></li>
                        <li><a href="/">&copy; 2008-2020, Humber-Zon Inc., or its affiliates</i></a></li>
                    </ul>
                </section>
                <section class="footer-social">
                    <ul>
                        <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="/"><i class="fa fa-behance"></i></a></li>
                        <li><a href="/"><i class="fa fa-globe"></i></a></li>
                    </ul>
                </section>
            </section>

            <div class="to-top">
                <a href="/">Back to Top</a>
            </div>

        </footer>

    </div>


</body>
</html>