
{{!-- <h2>Home Page</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, veniam?
</p>
 --}}

<main>

	<section class="carousel" id="carousel">
		<div id="carousel"></div>
		<div id="inner-carousel" class="inner-carousel">
			<div id="slider-prev" onclick="slideNext();"><img src="/img"></div>
			<div id="slider-next" onclick="slidePrev();"><img src="/img"></div>
		</div>
	</section>

</main>
