
{{!-- <h2>Home Page</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, veniam?
</p>
 --}}


<div class="page">

	<header>
	    <!-- Header Start -->
	    <section class="header-area">

	        <!-- Logo -->
	        <div class="logo">
	            <a href="index.html"><img src="/img/" alt="">Humber-Zon<img></a>
	        </div>

	        <!-- Main-menu -->
	        <nav class="main-menu">
	            <ul id="navigation">  
	                <li><a href="/">Home</a></li>
	                <li><a href="/productListing">Shop</a></li>
	                <li><a href="/bestSellers">Best Sellers</a></li>
	                <li class=""><a href="#">Latest</a>
	                    <ul class="submenu">
	                        <li><a href="#">Product list</a></li>
	                        <li><a href="#"> Product Details</a></li>
	                    </ul>
	                </li>

	                <li><a href="#">Pages</a>
	                    <ul class="submenu">
	                        <li><a href="#">Login</a></li>
	                        <li><a href="#">Cart</a></li>
	                        <li><a href="#">Element</a></li>
	                        <li><a href="#">Confirmation</a></li>
	                        <li><a href="#">Product Checkout</a></li>
	                    </ul>
	                </li>
	                <li><a href="#">Contact</a></li>
	            </ul>
	        </nav>

	        <!-- Header Right -->
	        <section class="header-right">
	            <ul>
	                <li>
	                    <div class="nav-search">
	                        <span class="flaticon-search"></span>
	                    </div>
	                </li>
	                <li> <a href="login.html"><span class="flaticon-user"></span></a></li>
	                <li><a href="cart.html"><span class="flaticon-shopping-cart"></span></a></li>
	            </ul>
	        </section>

	    </section>

	</header>

	<main>

		<h1>
		</h1>

	</main>

</div>


<img src="/img/jon.jpg" alt="Jon snow">