
{{!-- <h2>Home Page</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, veniam?
</p>
 --}}

<main>

	<section class="hero"  role="banner">

		<section class="carousel-container" id="carousel-container">
			<div id="slider" class="carousel">
			  <section class="slides">
			  	<div class="slide" data-state="active">Slide 1</div>
			  	<div class="slide">Slide 2</div>
			  	<div class="slide">Slide 3</div>
			  </section>
			  <section class="indicators">
			  	<input class="indicator" name="indicator" data-slide="1" data-state="active" checked type="radio" />
			  	<input class="indicator" name="indicator" data-slide="2" type="radio" />
			  	<input class="indicator" name="indicator" data-slide="3" type="radio" />
			  </section>
			</div>
		</section>

	</section>



</main>
