
	@media (min-width: 768px) {
		th, td {
		    padding: 10px;
		}
		td {
		    font-size: 15px;
		}
		.product-title {
		    font-size: 1.2em;
		}

		/*Modal forms*/
		.form-product, .deleteRec {
		    width: 70%;
		}
		.close-product-form {
		    right: 30px;
		    top: 30px;
		}
		.admin-dashboard-page .section-title {
			text-align: center;
		}
	}
	
	@media (min-width: 992px) {

		.dashboard > div {
		    width: 80%;
		}

		.product-list {
			padding: 25px 20px;
		}
		table {
		    width: 80%;
		    background: none;
		}
		th, td {
		    padding: 15px;
		}
		td {
		    font-size: 16px;
		}
		.product-title {
		    font-size: 1.3em;
		}

		/*Modal forms*/
		.form-product, .deleteRec {
		    width: 50%;
		    max-width: 550px;
		}
		.close-product-form {
		    right: 50px;
		    top: 50px;
		}

	}