
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--yellow);
    font-size: 1em;
    opacity: .7;
    font-weight: lighter;
    font-family: var(--font-secondary);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--yellow);
    font-size: 1em;
    opacity: .7;
    font-weight: lighter;
    font-family: var(--font-secondary);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--yellow);
    font-size: 1em;
    opacity: .7;
    font-weight: lighter;
    font-family: var(--font-secondary);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--yellow);
    font-size: 1em;
    opacity: .7;
    font-weight: lighter;
    font-family: var(--font-secondary);
}

.dashboard {
    width: 100%;
    margin-bottom: 40px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}
.dashboard > div {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.product-add {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
    border: thin outset rgb(0 0 51 / 14%);
    outline: none;
    font-size: 1em;
    color: white;
    font-family: var(--font-secondary);
    background: rgba(0,0,0,.2);
    box-shadow: 4px 3px 2px rgba(0,0,0,.1);
    transition: all .2s;
}
.dashboard-list td span {
    text-transform: capitalize;
}
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #fff;
}
th {
    text-align: left;
}
thead th {
    text-align: center;
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

/*PRODUCT UPLOAD*/
.product-upload, .confirm-delete {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,.9);
    z-index: 9;
    transform: translateY(-100%);
    transition: all .3s ease-in;
}
.confirm-delete {
    text-align: center;
}
.product-upload.open, .confirm-delete.open {
    opacity: 1;
    transform: translateY(0);
}

.form-product, .deleteRec {
    position: relative;
    width: 50%;
    max-width: 550px;
    margin: auto;
    background: none;
    padding: 15px 20px;
    text-transform: uppercase;
    border: thin outset var(--blue);
    border-top: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-family: var(--font-secondary);
    background: rgba(0,0,51,.4);
    transition: all .2s;
}
.deleteRec {
    padding-top: 2em;
    padding-bottom: 5em;
    background: rgb(255 0 0 / 33%);
}
.deleteRec h4 {
    font-size: 1.3em;
    margin-bottom: 1em;
    text-align: center;
}
.deleteRec h4 strong {
    display: block;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 25px 0;
    color: var(--dark-grey);
}
.deleteRec .button-set {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #FFF;
}
.deleteRec .button-set button {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #EEE;
    color: #4d5c6e;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
.deleteOK {
    background-color: red !important;
    color: var(--light-grey) !important;
}
.trash img {
    height: 300px;
}
.product-add:hover, .product-add:focus {
    background:  rgba(0,0,0,.5);
}
.box-login-tab {
    position: absolute;
    left: -1px;
    width: 50%;
    height: 40px;
    background: rgba(0,0,51,.4);
    top: -37px;
    float: left;
    z-index: 1;
    border-radius: 6px 6px 0 0;
    transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
    transform-origin: 0 0;
    backface-visibility: hidden;
    box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
}
.product-upload legend {
    position: absolute;
    top: -35px; 
}
.product-title {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--font-secondary);
    color: var(--blue);
    font-size: 1.1em;
    letter-spacing: 1px;
}
.edit-ctrl button, .trash-ctrl button {
    padding: 5px;
}
.edit-ctrl .fa, .trash-ctrl .fa {
    display: block;
    padding: 10px 20px;
    color: var(--yellow);
    font-size: 1.3em;
}
.trash-ctrl .fa {
    color: #ff0000;
}
.edit-ctrl .fa:hover, .trash-ctrl .fa:hover, .trash-ctrl .fa:focus, .edit-ctrl .fa:focus {
    background-color: rgba(0, 0, 51,.1);
}
.thumb-img {
    width: auto;
    height: 40px;
}
.shopping-cart .thumb-img {
    height: 50px;
}
input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.switch-featured {
    position: relative;
    top: -13px;
    left: 13px;
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
}
.switch-featured:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
input:checked + .switch-featured {
    background: #bada55;
}
input:checked + .switch-featured:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.switch-featured:active:after {
    width: 30px;
}
select,
.dashboard .form-input input[type=text], 
.dashboard .form-input input[type=password], 
.dashboard .form-input input[type=email],
.dashboard .form-input input[type=number] {
    background-color: transparent;
    height: calc(2.25rem + 10px);
    color: #fff;
    text-transform: capitalize;
}
.transaction select,
.transaction .dashboard .form-input input[type=text], 
.transaction .dashboard .form-input input[type=password], 
.transaction .dashboard .form-input input[type=email],
.transaction .dashboard .form-input input[type=number] {
    color: var(--blue);
}
.product-category {
    display: block;
}
.form-input.register-switch {
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    background-color: rgba(26, 10, 56, 0.53);
    border-radius: 2px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
    border: none;
}
.form-input.file {
    text-align: left;
}
.form-input.product-category {
    display: block;
    text-align: left;
}
option.product-category {
    text-transform: capitalize;
}
.close-product-form {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 40px;
    height: 40px;
    opacity: .6;
}
.close-product-form:hover, .close-product-form:focus {
    opacity: 1;
}

/*CART*/
.cart-dashboard {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
    background: rgb(246 246 246 / 80%);
}
.cart-dashboard-list {
    width: 100%;
}
.cart-title, .transaction-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.cart-title .total, .transaction-cost {
    font-size: 1.3em;
}
.cart-title .section-title, .transaction-total {
    padding: .5em 4px;
    border-bottom: none;
    margin-bottom: 0;
}   
.cart-list table {
    width: 100%;
}
.shopping-cart .quantity-form {
    width: 50px;
    height: 40px;
    background: #fff;
}
.cart-product-name {
    position: relative;
    text-align: left;
}
.shopping-cart .related {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    width: 100%;
}
.cart-remove {
    flex-basis: 65%;
    margin-left: auto;
    display: flex;
    flex-flow: column;
}
.cart-price, .cart-total {
    color: #696969;
    font-family: var(--font-tertiary);
}
.cart-total span {
    font-weight: bold;
    opacity: .8;
}

.transaction {
    width: 100%;
    margin: 0;
    padding: 30px 25px;
    font-family: var(--font-tertiary);
    background: #F5F5F6;
}
.transaction .section-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    border-bottom: thin inset rgb(242 242 242 / 60%) ;
}
.transaction-details {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}
.transaction-total {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.3em;
    font-family: var(--font-primary);
    font-weight: 900;
}
.transaction-cost {
    font-size: 1.1em;
    font-weight: bold;
}
.transaction label, .transaction-btn {
    color: var(--blue);
    margin: 10px 0;
}
.transaction label {
    font-family: var(--font-secondary);
    padding-bottom: 5px;
}
.promo-code {
    border: 1px solid #ced4da !important;    
    background: #fff !important;
}
.transaction-btn.apply {
    width: auto;
}
.transaction-btn:hover, .transaction-btn:focus {
    opacity: 1;
}
.transaction select {
    font-family: var(--font-secondary);
    font-size: .9em;
}

.grand-total {
    text-align: right;
    border: thin solid black;
    background-color: rgba(255, 255, 255, 0.3);
}
.grand-total td {
    text-align: right;
    font-weight: 600;
    font-size: 1.1em;
    color: #696969;
}
.grand-total td b {
    padding-left: 10px;
    font-size: 1.2em;
    font-weight: 900;
    color: black;
    font-family: var(--font-primary);
}
.grand-total .currency {
    color: var(--blue);
    font-family: var(--font-primary);
    font-size: 1.2em;
}
.transaction-cost-grand {
    font-size: 1.3em;
    opacity: .9;
    color: #ca002a;
}
.grand-total.hide, .cart-title .total.hide, .transaction.hide {
    display: none;
}