.details-container {
	display: flex;
	align-items: center;
	min-height: 500px;
	width: 80%;
	margin: 0 auto;
	border: thin solid tan;
}
.hero-img-product, .product-details {
	position: relative;
	flex : 0 0 50%;
}
.hero-img-product {
}
.hero-img-product > figure {
	transform: scale(1.2);
	border: 1px solid magenta;
}
.product-title {
	
}