
.details {
	position: relative;
	overflow: hidden;
}
.details-container {
	display: flex;
	flex-flow: column;
	padding: 20px 25px;
	align-items: center;
	min-height: 500px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: linear-gradient(45deg, rgb(73 160 157 / 78%), #5f2c82, rgb(222 180 6 / 75%));
}
.hero-img-product, .product-details-container {
	position: relative;
}
.hero-img-product > figure {
	padding: 30px;
}
.product-title {
	font-size: 2em;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-family: var(--font-tertiary);
}
.product-title span {
	font-size: .7em;
	color: var(--mid-grey);
	font-family: var(--font-secondary);
	opacity: .8;
	font-style: italic;
	text-transform: capitalize;
}
.star-featured i {
	color: rgb(218,165,32);
	font-size: 1.3em;
	opacity: .8;
}
.blurb {
	padding: 20px 5px;
	font-size: 1.4em;
	font-weight: bold;
}
.blurb p {
	line-height: 32px;
	color: var(--mid-grey);
	text-transform: capitalize;
}
.cart {
	display: flex;
	justify-content: center;
	padding : 10px;
}
.cart .fa {
	font-size: 2em;
	padding: 5px 15px;
	transition: all .2s;
}
.in-cart .fa {
	color : var(--mid-grey);
	opacity: .3;
}
.cart .fa:hover, .cart .fa:focus {
	opacity: .7;
}
.shopping-cart {
	color: var(--blue);
}
.old-price {
	font-size: 1.4em;
	text-decoration: line-through;
}
.old-price + span {
	font-size: 1.75em;
}
.price {
	display: inline-block;
	padding: 20px;
	padding-right: 5px;
	color: var(--blue);
	font-size: 1.1em;
	margin-bottom: 5px;
}
.in-stock, .quantity-stock {
	font-size: 1.1em;
	margin-bottom: 15px;
	font-family: var(--font-secondary);
	text-transform: uppercase;
}
.in-stock span {
	font-weight: bolder;
}
