/*

* Project Title: Humber-Zon 
* Author Email: kayodeibiyemi92@gmail.com
* GitHub Link: https:https://github.com/kode-sektor/e-commerce-nodejs
* Author URI: www.kode-sektor.com
* Start date: 20-6-2020
  __   __                           
 |  |_/  /
 |      / 
 |     /    __ ____  __
 |  '  \  / _` | |  | |          
 |  |\  \| (_| | |__| |
 |__| \__\\__,_|____. |         
                    | |  
                    | |
              |_______|  
                                                                  
=====================================================================*/

/*basic*/

:root {
  /*primary colours*/
  --blue: #000033;
  --yellow: #DEB406;
  --link: #007BFF;

  /*shades of grey*/
  --grey: #F6F6F6;
  --light-grey: #efefef;
  --mid-grey: #f2f2f2;
  --text-grey: #141517;
  --black: #000;
  --white: #fff;

  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

  /*font families*/
  --font-primary: Dosis, Tahoma, Calibri, sans-serif;
  --font-secondary: "Titillium Web", Tahoma, Calibri, sans-serif;
  --font-tertiary: "Century Gothic", Tahoma, Calibri, sans-serif;

}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}	
html{
	height:100%;
	font-smoothing: antialiased;	
	line-height: 1.5em; 		/*1.42857143*/		
	font-size: 16px; 			/*62.5%*/		
	background:;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}	
body {
	min-height:100%;
	line-height: inherit; 
	font-weight: normal;
	font-family: var(--font-primary);
}
img {
   max-width: 100%;
   height: auto;
   border: none;
}
ul, ol {
	list-style: none;
}
a:link, a:visited {
   text-decoration: none;
   outline: 0;
   /color: #007fff;
   cursor: pointer;
   transition: color .3s ease-in-out;
   border-bottom: /*dotted 1px rgba(160, 160, 160, 0.65)*/;
   transition: color 0.2s ease, border-bottom-color 0.2s ease;		
}
a {
	color: #6a6a6a;
}
a:visited{
	/color: #333399;
}
a:active{
	color: #0033ff;
	text-decoration: underline;
}
a:link:hover, a:link:focus {
  	outline-offset: -2px;
  	text-decoration: none;
    color: rgb(136,13,30 )!important;
}

/*Header*/

.page-header {
	border: 1px solid maroon;
}
.header-area, .main-menu {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.header-area {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	width: 15%;
	text-align: center;
}
.main-menu {
	/flex-wrap: nowrap;
	margin-left: auto;
	width: 85%;
	justify-content: space-between;
}
.main-menu-nav, .user-related-links {
	display: flex;
}
.user-related-links {
	border: 2px solid green;
}
.main-menu-nav li {
	position: relative;
	z-index: 1;
}
.main-menu-nav li a, .user-related-links li a, .user-related-links .fa-search {
    font-size: 16px;
    color: var(--text-grey);
    font-weight: 600;
    padding: 10px;
    display: inline-block;
    text-transform: capitalize;
    transition: all .3s ease-out 0s;
}
.user-related-links li a, .user-related-links .fa-search {
	font-weight: lighter !important;
	opacity: .4;
	line-height: 24px;
	color: var(--dark-grey);
}
.main-menu-nav li .submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
    padding: 17px 0;
    border-top: 3px solid #ff2020;
    border-radius: 7px 7px 3px 3px;
    transition: all .2s ease-out 0s;
}

/*Carousel*/

.carousel {
  position: relative;
  height: 400px;
  width: 750px;
}

.slides {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 3em;
  color: white;
  line-height: 400px;
  text-align: center;
  opacity: 0;
  transition: opacity 1000ms;
}

.slide:nth-child(1) {
    background-color: red;
    opacity: 1;
}

.slide:nth-child(2) {
    background-color: green;
}

.slide:nth-child(3) {
    background-color: blue;
}

.slide[data-state=active] {
  display: block;
}

.indicators {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.indicator {
    cursor: pointer;
}