
/* Tabs */

.tab-nav {
    margin: 0;
    padding: 0;
}
.tab-link {
    margin-right: 2px;
    padding: 3px 5px;
    color: #fff;
    display: inline-block;
    background-color: #b3b3b3;
    text-decoration: none;
    font-size: .9em;
    text-transform: uppercase;
}
.tab-link.is-active {
    color: white;
    font-weight: bold;
    background-color: black;
    opacity: .9;
}
.tab-link:last-child {
    margin-right: 0;
}
.tab-link:hover {
    color: var(--mid-grey);
    background-color: var(--blue);
}

/* Tab Content */
.tab-content {
    display: none;
    background-color: #e7e7e7;
}
.tab-content.is-active {
    display: block;
    padding: 20px;
}
.tab-content p {
    font-weight: bold;
}
.tab-contents {
    margin-bottom: 100px;
}