	
	<section class="details">

		<section class="details-container">

			<section class="hero-img-product">
				<figure>
					<img src="/uploads/products/{{imgPath}}">
				</figure>
			</section>

			<section class="product-details">
				<header>
					<h1 class="product-title">{{title}}</h1>
					<span class="star-featured">
					</span>
				</header>

				<article class="blurb">
					<p>{{description}}</p>
				</article>

				<section class="cart">
					<span class="heart fa fa-heart"></span>
					<span class="cart fa fa-shopping-cart"></span>
				</section>

				<span class="old-price"></span>
				<strong class="price">{{price}} $CAD</strong>

				<a class="purchase-btn" href="/cart">Add to Cart</a>
				
			</section>

		</section>

	</section>