	
	<section class="details">

		<section class="hero-img-product">
		</section>

		<section class="product-details">
			<header>
				<h1 class="product-title"></h1>
				<h2 class="sub-product-title"></h2>
				<span class="star-featured"></span>
			</header>

			<article class="blurb">
				<p></p>
			</article>

			<section class="cart">
				<span class="heart"></span>
				<span class="cart"></span>
			</section>

			<p class="price"></p>

			<a href="/cart">Add to Cart</a>
		</section>

	</section>